.page-main {
  padding-top: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: auto;
}

.page-main__title {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  padding-left: 0.25em;
}

.page-main__tagline {
  font-family: 'Fira Sans Medium';
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.11em;
  padding-right: 0.11em;
  padding-top: 39px;
}

.email-form {
  padding-top: 36px;
  width: 100%;
  display: flex;
  align-items: center;

  input {
    outline: none;
    border: 1px solid $color-dark;
    border-right: none;
    width: 167px;
    height: 45px;
  }
  input::placeholder {
    color: $color-semi;
    font-family: 'Fira Sans Regular';
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 14.4px;
    padding-left: 7px;
  }

  button {
    font-size: 16px;
    letter-spacing: 0.05em;
    padding-left: 8px;
  }
}

@media (min-width: $tablet-min-width) {
  .page-main {
    padding-top: 208px;
  }
  .page-main__title {
    font-size: 60px;
    line-height: 60px;
    padding-left: 0.22em;
  }

  .page-main__tagline {
    padding-top: 44px;
    padding-right: 15px;
    font-size: 26px;
    line-height: 31px;
  }

  .email-form {
    padding-top: 26px;
    padding-left: 0px;
    padding-right: 6px;
    input {
      padding-top: 5px;
      width: 266px;
    }
    input::placeholder {
      font-size: 12px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.05em;

      padding-left: calc(8px + 0.05em);
    }

    button {
      width: 140px;
      padding-left: 0px;
      padding-right: 2px;
    }
    button::after {
      width: 140px;
      top: 6px;
      left: 6px;
    }
  }

  @media (min-width: $laptop-min-width) {
    .page-main {
      padding-top: 285px;
    }

    .page-main__title {
      font-size: 80px;
      line-height: 80px;
    }

    .page-main__tagline {
      padding-top: 64px;
    }
  }
}
