.page-header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 71px;
}
.page-header__auth {
    display: none;
}

.page-header__logo {
    padding-top: 0px;
}

.page-header__user {
    padding-bottom: 11px;
}