@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Bold.ttf') format('ttf'),
    url('../fonts/HelveticaNeueCyr-Bold.eot') format('eot');
}

@font-face {
  font-family: 'Fira Sans Medium';
  src: url('../fonts/FiraSans-Medium.woff2') format('woff2'),
    url('../fonts/FiraSans-Medium.woff') format('woff'),
    url('../fonts/FiraSans-Medium.ttf') format('ttf'),
    url('../fonts/FiraSans-Medium.eot') format('eot');
}


@font-face {
  font-family: 'Fira Sans Regular';
  src: url('../fonts/FiraSans-Regular.woff2') format('woff2'),
    url('../fonts/FiraSans-Regular.woff') format('woff'),
    url('../fonts/FiraSans-Regular.ttf') format('ttf'),
    url('../fonts/FiraSans-Regular.eot') format('eot');
}
